@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'dancing-script';
    src: url('../assets/fonts/dancing-script/DancingScript-Bold.ttf') format('truetype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'dancing-script';
    src: url('../assets/fonts/dancing-script/DancingScript-SemiBold.ttf') format('truetype');
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'dancing-script';
    src: url('../assets/fonts/dancing-script/DancingScript-Medium.ttf') format('truetype');
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'dancing-script';
    src: url('../assets/fonts/dancing-script/DancingScript-Regular.ttf') format('truetype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 5px;
}


::-webkit-scrollbar-thumb {
  @apply rounded-[6.39px] bg-dark1;
}


.dancing-script {
  @apply font-['dancing-script'];
}

.content-container {
  @apply container px-4 mx-auto;
}

.product-container {
  @apply grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4;
}

.slick-slide > div {
  @apply py-0 px-1 md:px-2;
}

h1 {
  @apply text-center font-semibold text-4xl;
}

h2 {
  @apply font-semibold text-3xl;
}

ul, li {
  @apply list-inside
}

ol {
  @apply list-decimal;
}

/* animations */
.checkmark {
  stroke: green;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}